<!-- ML Blocks -->
<div
    id="<?= $this->getId('mlControl') ?>"
    data-control="mlblocks"
    data-default-locale="<?= e($defaultLocale->code) ?>"
    data-copy-confirm="<?= e(trans('winter.translate::lang.locale.copy_confirm')); ?>"
    data-switch-handler="<?= $this->getEventHandler('onSwitchItemLocale') ?>"
    data-copy-handler="<?= $this->getEventHandler('onCopyItemLocale') ?>"
    class="field-multilingual field-multilingual-repeater dropdown"
    >

    <div id="<?= $this->getId('mlBlocks') ?>">
        <?= $blocks ?>
    </div>

    <input
        type="hidden"
        data-blocks-active-locale
        name="<?= $field->getName('RLTranslateBlocksLocale') ?>"
        value="<?= e($defaultLocale->code) ?>"
    />

    <?= $this->makeMLPartial('locale_copy') ?>

    <?= $this->makeMLPartial('locale_selector') ?>

    <?= $this->makeMLPartial('locale_values') ?>
</div>
