<!-- ML Markdown Editor -->
<div
    id="<?= $this->getId('mlControl') ?>"
    data-control="mlmarkdowneditor"
    data-textarea-element="#<?= $this->getId('textarea') ?>"
    data-copy-confirm="<?= e(trans('winter.translate::lang.locale.copy_confirm')); ?>"
    data-default-locale="<?= $defaultLocale->code ?>"
    data-placeholder-field="#<?= $this->getId('textarea') ?>"
    class="field-multilingual field-multilingual-markdowneditor dropdown <?= $stretch?'layout-relative stretch':'' ?>"
    >

    <?= $markdowneditor ?>

    <?= $this->makeMLPartial('locale_copy') ?>

    <?= $this->makeMLPartial('locale_selector') ?>

    <?= $this->makeMLPartial('locale_values') ?>
</div>
