<?php $hasProviders = $this->hasUsableTranslateProviders(); ?>
<!-- Language selector -->
<div class="dropdown ml-dropdown">
    <button
        class="btn btn-default ml-btn"
        data-toggle="dropdown"
        data-active-locale
        type="button">
    </button>

    <ul
        class="dropdown-menu pull-right ml-dropdown-menu ml-dropdown-menu--with-copy"
        role="menu"
        data-locale-dropdown
        data-dropdown-title="<?= e(trans('winter.translate::lang.locale.select_label')) ?>">
        <?php foreach ($locales as $code => $name): ?>
        <li role="presentation">
            <a
                role="menuitem"
                tabindex="-1"
                data-switch-locale="<?= $code ?>"
                href="javascript:;">
                <span class="ml-locale-status" data-locale-status="<?= $code ?>"></span>
                <?= $name ?>
            </a>
            <button
                type="button"
                class="ml-locale-copy icon-copy"
                data-copy-locale="<?= e($code) ?>"
                <?php if ($defaultProvider): ?>data-default-provider="<?= e($defaultProvider) ?>"<?php endif ?>
                <?php if ($hasProviders): ?>data-copy-open-handler="<?= e($this->getEventHandler('onShowTranslationMethodSelector')) ?>"<?php endif ?>
                title="<?= e(trans('winter.translate::lang.locale.copy_from', ['locale' => $name])) ?>">
            </button>
        </li>
        <?php endforeach ?>
    </ul>
</div>
