<?php $widgetId = $this->getId(); ?>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" >&times;</button>
    <h4 class="modal-title">
        <span class="ml-locale-flow">
            <span class="ml-locale-chip"><?= e($copy_from_locale) ?></span>
            <span class="ml-locale-arrow">&rarr;</span>
            <span class="ml-locale-chip"><?= e($current_locale) ?></span>
        </span>
    </h4>
</div>
<div class="modal-body">
    <?php
    $default = strtolower($defaultProvider ?? '');
    $isNone = ($default === '');

    // some FormWidgets are not machine translatable, eg. MediaFinder
    $translatable = $autoTranslatable ?? true;
    ?>

    <div class="form-group">
        <label class="ml-provider-label" for="translationProvider<?= $widgetId ?>">
            <?= e(trans('winter.translate::lang.locale.translate_method')); ?>
        </label>
        <select
            name="translation_provider_<?= $widgetId ?>"
            id="translationProvider<?= $widgetId ?>"
            class="form-control">

            <option value="" <?= $isNone ? 'selected' : '' ?>>
                <?= e(trans('winter.translate::lang.locale.none')); ?>
            </option>

            <?php if ($translatable) { ?>
            <?php foreach ($providers as $providerName => $providerConfig): ?>
            <?php $selected = ($default === strtolower($providerName)) ? 'selected' : ''; ?>
            <option value="<?= $providerName ?>" <?= $selected ?>>
                <?= ucfirst($providerName) ?>
            </option>
            <?php endforeach ?>
            <?php } ?>
        </select>
    </div>
</div>
<div class="modal-footer">
    <button
        type="button"
        class="btn btn-default"
        data-dismiss="modal"
    >
        <?= e(trans('backend::lang.form.cancel')); ?></button>
    <button
        data-widget-id="<?= $this->getId('mlControl') ?>"
        data-selected-locale="<?= $copy_from_locale ?>"
        type="button"
        class="btn btn-primary"
        data-dismiss="modal"
    >
        <?= e(trans('winter.translate::lang.locale.copy_button')); ?></button>
</div>
