<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" >&times;</button>
    <h4 class="modal-title"></h4>
</div>
<div class="modal-body">
    <?php $widgetId = $this->getId(); ?>
    <h3 class="lang-code-display">
        <span><?= $copy_from_locale ?></span>→<span><?= $current_locale ?></span>
    </h3>
    <p><?= e(trans('winter.translate::lang.locale.translate_method')); ?></p>

    <?php
    $default = strtolower($defaultProvider ?? '');
    $isNone = ($default === '');

    // some FormWidgets are not machine translatable, eg. MediaFinder
    $translatable = $autoTranslatable ?? true;
    ?>

    <div class="form-group">
        <select name="translation_provider_<?= $widgetId ?>" class="form-control">

            <option value="" <?= $isNone ? 'selected' : '' ?>>
                <?= e(trans('winter.translate::lang.locale.none')); ?>
            </option>

            <?php if ($translatable) { ?>
            <?php foreach ($providers as $providerName => $providerConfig): ?>
            <?php $selected = ($default === strtolower($providerName)) ? 'selected' : ''; ?>
            <option value="<?= $providerName ?>" <?= $selected ?>>
                <?= ucfirst($providerName) ?>
            </option>
            <?php endforeach ?>
            <?php } ?>
        </select>
    </div>

    <div class="modal-footer">
        <button
            data-widget-id="<?= $this->getId('mlControl') ?>"
            data-selected-locale="<?= $copy_from_locale ?>"
            type="button"
            class="btn btn-primary"
            data-dismiss="modal"
        >
            <?= e(trans('winter.translate::lang.locale.copy_button')); ?></button>
    </div>
</div>
