<!-- Textarea -->
<?php if ($this->previewMode): ?>
    <div class="form-control"><?= nl2br(e($field->value)) ?></div>
<?php else: ?>
    <div
        id="<?= $this->getId() ?>"
        data-control="multilingual"
        data-copy-confirm="<?= e(trans('winter.translate::lang.locale.copy_confirm')); ?>"
        data-default-locale="<?= $defaultLocale->code ?>"
        data-placeholder-field="#<?= $field->getId('placeholderField') ?>"
        class="field-multilingual field-multilingual-textarea dropdown">

        <textarea
            name="<?= $field->getName() ?>"
            id="<?= $field->getId('placeholderField') ?>"
            placeholder="<?= e(trans($field->placeholder)) ?>"
            class="form-control field-textarea size-<?= $field->size ?>"
            autocomplete="off"
            oninput="updateTextareaLayout(this)"
            <?= $field->getAttributes() ?>><?= e($field->value) ?></textarea>


        <?= $this->makeMLPartial('locale_copy') ?>

        <?= $this->makeMLPartial('locale_selector') ?>

        <?= $this->makeMLPartial('locale_values') ?>
    </div>
<?php endif ?>
