<!-- ML Repeater -->
<div
    id="<?= $this->getId('mlControl') ?>"
    data-control="mlrepeater"
    data-default-locale="<?= e($defaultLocale->code) ?>"
    data-copy-confirm="<?= e(trans('winter.translate::lang.locale.copy_confirm')); ?>"
    data-switch-handler="<?= $this->getEventHandler('onSwitchItemLocale') ?>"
    data-copy-handler="<?= $this->getEventHandler('onCopyItemLocale') ?>"
    class="field-multilingual field-multilingual-repeater dropdown"
    >

    <div id="<?= $this->getId('mlRepeater') ?>">
        <?= $repeater ?>
    </div>

    <input
        type="hidden"
        data-repeater-active-locale
        name="<?= $field->getName('RLTranslateRepeaterLocale') ?>"
        value="<?= e($defaultLocale->code) ?>"
    />

    <?= $this->makeMLPartial('locale_copy') ?>

    <?= $this->makeMLPartial('locale_values') ?>

    <?= $this->makeMLPartial('locale_selector') ?>
</div>
