name: Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  phpUnitTests:
    runs-on: ubuntu-latest
    name: Unit Tests / PHP ${{ matrix.phpVersions }}
    strategy:
      max-parallel: 6
      matrix:
        phpVersions: ['7.2', '7.3', '7.4', '8.0']
      fail-fast: false
    env:
      phpExtensions: mbstring, intl, gd, xml, sqlite
      cacheKey: ext-cache-v1
      winterCmsRelease: develop
    steps:
      - name: Checkout changes
        uses: actions/checkout@v2
        with:
          path: translate-plugin

      - name: Setup cache environment
        id: extcache
        uses: shivammathur/cache-extensions@v1
        with:
          php-version: ${{ matrix.phpVersions }}
          extensions: ${{ env.phpExtensions }}
          key: ${{ env.cacheKey }}

      - name: Cache extensions
        uses: actions/cache@v2
        with:
          path: ${{ steps.extcache.outputs.dir }}
          key: ${{ steps.extcache.outputs.key }}
          restore-keys: ${{ steps.extcache.outputs.key }}

      - name: Install PHP and extensions
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.phpVersions }}
          extensions: ${{ env.phpExtensions }}
          tools: composer:v1
          coverage: none

      - name: Install Winter CMS
        run: |
          wget https://github.com/wintercms/winter/archive/${{ env.winterCmsRelease }}.zip
          unzip ${{ env.winterCmsRelease }}.zip
          shopt -s dotglob
          mv winter-${{ env.winterCmsRelease }}/* ./
          shopt -u dotglob
          cp config/cms.php config/testing/cms.php
          mkdir -p plugins/winter
          mv translate-plugin plugins/winter/translate

      - name: Get Composer cache directory
        id: composercache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ${{ steps.composercache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Install Composer dependencies
        run: composer install --no-interaction --no-progress --no-suggest

      - name: Run linting
        run: ./vendor/bin/parallel-lint plugins/winter/translate

      - name: Run unit tests
        run: |
          cd plugins/winter/translate
          ../../../vendor/bin/phpunit
