name: Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  phpUnitTests:
    runs-on: ubuntu-latest
    name: Unit Tests / PHP ${{ matrix.phpVersion }} / Winter ${{ matrix.winterRelease }}
    strategy:
      max-parallel: 6
      matrix:
        phpVersion: ['8.1', '8.2', '8.3']
        winterRelease: ['develop']
        winterReleaseDir: ['develop']
      fail-fast: false
    steps:
      - name: Setup Winter
        uses: wintercms/setup-winter-action@v1
        with:
          php-version: ${{ matrix.phpVersion }}
          winter-ref: ${{ matrix.winterRelease }}
          plugin-author: winter
          plugin-name: translate

      - name: Run linting
        run: ./vendor/bin/parallel-lint plugins/winter/translate

      - name: Run unit tests
        run: php artisan winter:test -p Winter.Translate
